@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{$property}: #{'-' + $prefix + '-' + $value};
  }
}

body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #02071D;
    background-image: url(images/208x226-stacked-green.png);
    background-repeat:  no-repeat;
    background-position: 50% 16%;
    margin: 0;
    min-height: 100vh;
    color: #FFF;
    font-size: 1.6rem; 
}

.un-pendu {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    
    div[class$="-container"] {
        display: flex;
        flex-flow: row wrap;
        margin: 1rem auto 0;
    }
    
    .film-container {
        width: 100%;
        justify-content: center;
    }
    
    .draw-container {
        flex-flow: column!important;
        justify-content: flex-start;
        align-items: center;
        
        span {
            margin: 1.6rem 0 0;
            font-size: 1rem;
            font-style: italic;
        }
    }
    
    .left {
        width: fit-content;
    }
    
    .right {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    
    .gradient-line {
        margin: 0.6rem 0;
        width: 100%;
        height: 1px;
        display: block;        
        @include prefix(background, linear-gradient(0deg, #02071D, #FFF 40%, #02071D), webkit moz);
    }
    
    canvas {
        width: 300px;
        height: 400px;
        background: url(images/pendu_bg.jpg) no-repeat;
        border: 0.4rem solid #FFF;
        border-radius: 1rem; 
    }

}


/*****************************************/
/*******        Media queries      *******/
/*****************************************/

/* Responsive */
@media (max-width: 768px) {
    .un-pendu {
        margin: 0 0 2rem;   
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    body {
        background-position: 98% 98%;
    }
    
    .un-pendu {
        position: relative;
        
        div[class$="-container"] {
            margin: 2rem auto 0;
        }
        .film-container {
            justify-content: flex-start;
        }
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
        }
        .gradient-line {
            margin: 2rem 0;
        }
        .draw-container {
            position: absolute;
            right: 0;
            align-items: center;
            width: 50%;
        }
    }
}

@media (min-width: 1200px) {
    body {
        background-position: 96% 96%;
    }
    
    .un-pendu {        
        div[class$="-container"] {
            margin: 2rem auto 0;
        }
        .film-container {
            width: 70%;
            margin: 2rem 0 0 0!important;
            justify-content: flex-end;
        }
        .gradient-line {
            margin: 2rem 0;
        }
        .draw-container {
            width: 26%;
            align-items: flex-start;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1519px) {
    .right {
        width: 54%;
    }
}

@media (min-width: 1520px) {
    .right {
        width: 64%;
    }
}